.heading3 {
    color: white;
    position: fixed: right;
}
img.logo {
    display: inline-block;
    width: 120px;
    margin-left: 5px;
    padding: 0px;
    overflow: hidden;
}
nav ul {
    width: 100%;
}
nav ul {
    font-family: 'Franklin Gothic Medium';
    font-style: bold;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #42646e;
    opacity: 0.7;
}
nav li {
    float: left;
}
nav li a, #dropbtn {
    display: inline-block;
    color: white;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    padding: 14px 16px ;
    text-decoration: none;
    border-radius: 8px;
}
nav li a:hover, #dropdown:hover .dropbtn {
    background-color: darkorange;
}
nav li#dropdown {
    display: inline-block;
}
nav li#cnt {
    float: right;
    padding-right: 20px;
    text-align: center;
}
.dropdown-cntnt {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 10px;
}
.dropdown-cntnt a {
    color: black;
    padding: 5px 6px;
    margin-top: 3px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-cntnt a:hover {background-color: greenyellow;}
  
#dropdown:hover .dropdown-cntnt {
    display: block;
}